<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>phrases</key>
	<array>
		<string>Just rember, Life Go on</string>
		<string>So as I pray</string>
		<string>A Hug is a great gift</string>
		<string>You only live once</string>
		<string>Money can&apos;t buy happiness</string>
		<string>You can&apos;t have anything</string>
		<string>It&apos;s not perfect</string>
		<string>Let Your Dreams be bigger</string>
		<string>Nobody want to be first to try</string>
		<string>No pain, no gain</string>
	</array>
</dict>
</plist>
